.App {
  text-align: center;
}

.particles{
  width:100%;
  position: fixed;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: -1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
